<ul>
  <li>UC001: <%= link_to nil, v1_api.items_path('q' => 'banana') %> </li>
  <li>UC001: <%= link_to nil, v1_api.items_path('q' => 'perplexed', 'callback' => 'jsPhunktion') %> (as JSONP) </li>
  <li>UC002: <%= link_to nil, v1_api.items_path('title' => 'banana') %> </li>
  <li>UC002: <%= link_to nil, v1_api.items_path('description' => 'banana') %> (zero results)</li>
  <li>UC003: <%= link_to nil, v1_api.items_path('temporal.after' => '1950-01-01') %> (A, B, C)</li>
  <li>UC003: <%= link_to nil, v1_api.items_path('temporal.before' => '1955-07-15', 'callback' => 'jsPhunktion') %> (A, B, D as JSONP)</li>
  <li>UC003: <%= link_to nil, v1_api.items_path('temporal.after' => '1800-01-01', 'temporal.before' => '1850-12-31') %> (zero results)</li>
  <li>UC004: <%= link_to nil, v1_api.items_path('spatial' => 'Cambridge') %> M (recursive spatial)</li>
  <li>UC004: <%= link_to nil, v1_api.items_path('spatial.city' => 'Cambridge') %> M </li>
  <li>UC004: <%= link_to nil, v1_api.items_path('spatial.coordinates' => '42.3,-71') %> M (default distance)</li>
  <li>UC004: <%= link_to nil, v1_api.items_path('spatial.coordinates' => '41,-71', 'spatial.distance' => '100mi') %> M (bigger range)</li>
  <li>#2788: <%= link_to nil, v1_api.items_path('q' => 'banana', 'page_size' => '2') %> Pagination: page size </li> 
  <li>#2788: <%= link_to nil, v1_api.items_path('q' => 'banana', 'page_size' => '3', 'page' => '3') %> Pagination: page size &amp; page offset</li> 
  <li>#2789: <%= link_to nil, v1_api.items_path('sort_by' => 'created') %> Sort: by 'created' field </li>
  <li>#2789: <%= link_to nil, v1_api.items_path('sort_by' => 'created', 'sort_order' => 'desc') %> Sort: by 'created' field descending</li>
  <li>#2890: <%= link_to nil, v1_api.items_path() %> Successful empty search </li> 
  <li>#2890: <%= link_to nil, v1_api.items_path('some_invalid_field' => 'banana') %> Invalid field in query, error in JSON format </li> 
  <li>#2890: <%= link_to nil, v1_api.items_path('some_invalid_field' => 'banana', 'callback' => 'jsPhunktion') %> Invalid field in query, error in JSON format </li> 
  <li>#2790: <%= link_to nil, v1_api.items_path('fields' => 'title,description') %> Specify fields in results</li>
  <li>UC008: <%= link_to nil, "#{v1_api.items_path}/aaa,bbb" %> A, B</li>
  <li>UC008: <%= link_to nil, "#{v1_api.items_path}/aaa,bbb,ccc" %> A, B, C(Error Stub)</li>
  <li>UC008: <%= link_to nil, "#{v1_api.items_path}/aaa" %> A</li>
  <li>#2975: <%= link_to nil, "#{v1_api.items_path('facets' => 'dplaContributor')}" %> Facet on dplaContributor</li>
  <li>#2975: <%= link_to nil, "#{v1_api.items_path('facets' => 'isPartOf')}" %> Facet on isPartOf</li>
  <li>#2975: <%= link_to nil, "#{v1_api.items_path('facets' => 'dplaContributor,isPartOf')}" %> Facet on dplaContributor, isPartOf</li>
</ul>
