<h2>Compare enriched records with the original</h2>
<div class="well">
    Record #<%= @page %> of #<%= @total %> (<%= link_to @link, @link %>)
</div>
    <%= link_to "Random Item", {:controller => "compare", :id => @next}, :class => 'btn' %>
<div class="row-fluid">
  <div class="span6">                    
    <h3>Enriched Record</h3>
    <pre><%= @twisted %></pre>           
  </div>
  <div class="span6">                                                   
    <h3>Original Record</h3>
    <pre><%= @original %></pre>
  </div>
</div>

